<div>
  <mat-form-field appearance="outline">
    <mat-label>Character</mat-label>
    <input [disabled]="disableInput" matInput type="text" [(ngModel)]="userInput">
    <mat-hint>Button will be disabled for 4 secs</mat-hint>
  </mat-form-field>
  <button [disabled]="disableInput" color="primary" mat-raised-button (click)="addInput()">+ ADD</button>
</div>
<br>
<div style="text-align: center">
  <button mat-raised-button (click)="generateGrid()">Generate 2D Grid</button>
</div>
<br>
<mat-grid-list  cols="10" rowHeight="20px">
  <mat-grid-tile *ngFor="let tile of gridData" [id]="tile">
    {{tile}}
  </mat-grid-tile>
</mat-grid-list>
<div style="text-align: center">
  <p>
    <span matBadge="&#8288;"
          matBadgePosition="before"
          matBadgeOverlap="false"
          matBadgeSize="small"
          matBadgeColor="warn">Live</span>
  </p>
  <button [disabled]="true">Your Code: {{code}}</button>
</div>
